@tailwind base;
@tailwind components;
@tailwind utilities;

.apps::-webkit-scrollbar {
    display: none;
}

.apps {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}